<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="Title" value="Octopus Demo Page" />
    <add key="Environment" value="Not deployed to any environment"/>  
    <add key="Version" value="13.37" />
    <add key="Message" value="Here be message"/>
    <add key="Image" value="production.jpg" />
    <add key="Color" value="grey" />
  </appSettings>
    
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

</configuration>
